*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Additional Android project exclusions
*.apk
*.aar
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
proguard/
*.log
.navigation/
captures/
.idea/gradle.xml
.idea/dictionaries
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
*.hprof
.vscode/
.fleet/
Thumbs.db
